body{
    background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    background-size:cover;
    height:100vh;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    text-align:center;
}
h1{
    padding:10px;
    background:rgba(0,0,0,0.4);
    color:white;
}